[ColorScheme]
window\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x4\x45\0\0\x1\xe0\0\0\x5\xfe\0\0\x3\x1\0\0\x4\x45\0\0\x2\x5\0\0\x5\xfe\0\0\x3\x1\0\0\0\0\0\0\0\0\a\x80\0\0\x4\x45\0\0\x2\x5\0\0\x5\xfe\0\0\x3\x1)

[Common]
AutoClearAvg=false
AutoSeq=true
BandHopping=false
Blanker=0
CQTxfreq=260
DTtol=@Variant(\0\0\0\x87@@\0\0)
DialFreq=14074000
FST4W_FTol=100
FST4W_RxFreq=1500
FST4_FHigh=1400
FST4_FLow=900
FT8AP=false
Fast9=false
FastMode=false
Ftol=20
GUItab=0
HoldTxFreq=true
JT65AP=false
MaxDrift=0
MinSync=0
Mode=FT8
NDepth=1
NoOwnCall=false
NoSuffix=false
OutAttenuation=129
OutBufSize=4096
PctTx=20
PhaseEqualizationCoefficients=0, 0, 0, 0, 0
RR73=true
RoundRobin=Random
RxAll=false
RxFreq=1396
SWL=false
SaveAll=false
SaveDecoded=false
SaveNone=true
ShMsgs=false
SplitterState="@ByteArray(\0\0\0\xff\0\0\0\x1\0\0\0\x2\0\0\x1,\0\0\x1,\x1\xff\xff\xff\xff\x1\0\0\0\x1\0)"
SubMode=0
TRPeriod=15
TRPeriod_FST4W=120
TxFreq=1397
UploadSpots=false
WSPRPreferType1=true
WSPRfreq=1500
dBm=37
pwrBandTuneMemory=@Variant(\0\0\0\x1c\0\0\0\0)
pwrBandTxMemory=@Variant(\0\0\0\x1c\0\0\0\0)

[Configuration]
73TxDisable=false
AcceptUDPRequests=true
After73=false
Aggressive=0
AlternateBindings=false
AudioInputChannel=Mono
AudioOutputChannel=Mono
AutoGrid=true
AutoLog=false
AzElDir=/home/bblaze/.local/share/WSJT-X
BroadcastToN1MM=false
CATDataBits=@Variant(\0\0\0\x7f\0\0\0\x1dTransceiverFactory::DataBits\0\0\0\0\x10\x65ight_data_bits\0)
CATForceDTR=false
CATForceRTS=false
CATHandshake=@Variant(\0\0\0\x7f\0\0\0\x1eTransceiverFactory::Handshake\0\0\0\0\x13handshake_hardware\0)
CATNetworkPort={{ hostvars['nuc1']['ansible_default_ipv4']['address'] }}:4532
CATSerialPort=/dev/ttyUSB1
CATSerialRate=38400
CATStopBits=@Variant(\0\0\0\x7f\0\0\0\x1dTransceiverFactory::StopBits\0\0\0\0\xetwo_stop_bits\0)
CATUSBPort=
CalibrationIntercept=0
CalibrationSlopePPM=0
ClearCallGrid=false
DTR=false
DXCCEntity=true
DataMode=@Variant(\0\0\0\x7f\0\0\0\x18\x43onfiguration::DataMode\0\0\0\0\xf\x64\x61ta_mode_data\0)
Decode52=false
DecodeHighlighting=@Variant(\0\0\0\x7f\0\0\0(DecodeHighlightingModel::HighlightItems\0\0\0\0\x10\0\0\0\aMyCall\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\x66\x66\x66\x66\0\0\0\0\0\nContinent\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\0\0\x63\x63\0\0\0\0\0\xe\x43ontinentBand\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\x99\x99\xc2\xc2\0\0\0\0\0\aCQZone\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\xbf\xbf\0\0\0\0\0\0\0\vCQZoneBand\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\xe4\xe4\x99\x99\0\0\0\0\0\bITUZone\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xa6\xa6\xff\xff\0\0\0\0\0\0\0\fITUZoneBand\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xdd\xdd\xff\xff\x99\x99\0\0\0\0\0\x5\x44XCC\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\0\0\xff\xff\0\0\0\0\0\tDXCCBand\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\xaa\xaa\xff\xff\0\0\0\0\0\x5Grid\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\x80\x80\0\0\0\0\0\0\0\tGridBand\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\xcc\xcc\x99\x99\0\0\0\0\0\x5\x43\x61ll\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\0\0\xff\xff\xff\xff\0\0\0\0\0\tCallBand\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\x99\x99\xff\xff\xff\xff\0\0\0\0\0\x5LotW\0\0\x1\x1\xff\xff\x99\x99\0\0\0\0\0\0\0\x1\xff\xff\0\0\0\0\0\0\0\0\0\0\0\x3\x43Q\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\x66\x66\xff\xff\x66\x66\0\0\0\0\0\x3Tx\0\x1\0\x1\xff\xff\0\0\0\0\0\0\0\0\x1\x1\xff\xff\xff\xff\xff\xff\0\0\0\0)
DecodedTextFont="Courier,10,-1,5,50,0,0,0,0,0"
DecodesFromTop=false
Field_Day_Exchange=
Font="Ubuntu,11,-1,5,50,0,0,0,0,0"
ForceCallFirst=false
FrequenciesForRegionModes="@Variant(\0\0\0\x7f\0\0\0!FrequencyList_v2::FrequencyItems\0\0\0\0\x8a\0\0\0\0\0\x3\x5p\0\0\0\bFreqCal\0\0\0\0\x3R1\0\0\0\0\0\0L;\xa0\0\0\0\bFreqCal\0\0\0\0\x3R1\0\0\0\0\0\0\x98\x86\xe0\0\0\0\bFreqCal\0\0\0\0\x3R1\0\0\0\0\0\0\xe4\xd2 \0\0\0\bFreqCal\0\0\0\0\x3R1\0\0\0\0\0\0\n\x12 \0\0\0\bFreqCal\0\0\0\0\x3R2\0\0\0\0\0\0\rm\x80\0\0\0\bFreqCal\0\0\0\0\x3R2\0\0\0\0\0\0\x12v\x90\0\0\0\bFreqCal\0\0\0\0\x3R2\0\0\0\0\0\0&%\xa0\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x32\xcf\xd0\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0LK@\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0w\xc8\x10\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x98\x96\x80\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xdf\xd8\xb0\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xe4\xe1\xc0\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x31-\0\0\0\0\bFreqCal\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x2\x13@\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x2\x13@\0\0\0\x5\x46ST4\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x2\x13@\0\0\0\x6\x46ST4W\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x2\x13@\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0\a<X\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0\a<X\0\0\0\x5\x46ST4\0\0\0\0\x4\x41LL\0\0\0\0\0\0\a<X\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0\a<X\0\0\0\x6\x46ST4W\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x1c\x6\x38\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x1c\a\0\0\0\0\x6\x46ST4W\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x1c\v\xb0\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x1c\xf\x98\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x1c\xf\x98\0\0\0\x5\x46ST4\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x1c\x13\x80\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x36yP\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x36\x81 \0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x36\x85\b\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x36s\xd8\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x36\x8c\xd8\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x36q\x80\0\0\0\x4\x46T4\0\0\0\0\x3R3\0\0\0\0\0\0kf\x88\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0k\xf0\xd0\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\0k\xf8\xa0\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\0l\0p\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0k\x89L\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x9a\xa9\xc0\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x9a\xb1\x90\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x9a\xb4L\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x9a\xb9`\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0\x9a\xb9`\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xd7\x14\xf0\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xd6\xc0\x90\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xd6\xc8`\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xd6\xd0\x30\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\0\xd6\xd8\0\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x14/ \0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x14\x36\xf0\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x14>\xc0\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x14>\xc0\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x14\x41\x18\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x41\x90P\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x41\x98 \0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x41\x9f\xf0\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x41\xe0\xc8\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\x42\x92 \0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\x1|,8\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\x1|4\b\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x1|;\xd8\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\x1|;\xd8\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\x1|Q\xb8\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\xac`\x10\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\xacg\xe0\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\xaco\xb0\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\xad%\xb8\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\x1\xad\xfe \0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xfd\xfd\xc0\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xfe(\xb8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xff\"\xb8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xff&\xa0\0\0\0\x5JT65\0\0\0\0\x3R2\0\0\0\0\0\x2\xff&\xa0\0\0\0\x5JT65\0\0\0\0\x3R3\0\0\0\0\0\x3\0\xbc\xe0\0\0\0\aMSK144\0\0\0\0\x3R1\0\0\0\0\0\x2\xfe\xe8 \0\0\0\aMSK144\0\0\0\0\x3R2\0\0\0\0\0\x2\xfe\xe8 \0\0\0\aMSK144\0\0\0\0\x3R3\0\0\0\0\0\x2\xffi\b\0\0\0\x5WSPR\0\0\0\0\x3R2\0\0\0\0\0\x2\xffi\b\0\0\0\x5WSPR\0\0\0\0\x3R3\0\0\0\0\0\x2\xff\xabp\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xff\xb3@\0\0\0\x4JT9\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xff\xb7(\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xff\xca\xb0\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\x2\xff\xde\x38\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\x4-\xa4 \0\0\0\x4\x46T8\0\0\0\0\x3R1\0\0\0\0\0\x4-\xab\xf0\0\0\0\x5JT65\0\0\0\0\x3R1\0\0\0\0\0\x4-\xb3\xc0\0\0\0\x4JT9\0\0\0\0\x3R1\0\0\0\0\0\x4-\x80\xf8\0\0\0\x5WSPR\0\0\0\0\x3R1\0\0\0\0\0\x4/\x9f\xf0\0\0\0\aMSK144\0\0\0\0\x3R1\0\0\0\0\0\b\x97\t \0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\b\x97\x18\xc0\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\b\x97\x18\xc0\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\b\x97\xdc\x10\0\0\0\x4\x46T4\0\0\0\0\x4\x41LL\0\0\0\0\0\b\x97\xeb\xb0\0\0\0\x4\x46T8\0\0\0\0\x4\x41LL\0\0\0\0\0\b\x9a\xc2@\0\0\0\aMSK144\0\0\0\0\x3R1\0\0\0\0\0\b\x97\x8d\xf0\0\0\0\aMSK144\0\0\0\0\x3R2\0\0\0\0\0\b\x9c\xba(\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\r<qh\0\0\0\x5\x45\x63ho\0\0\0\0\x3R2\0\0\0\0\0\r<qh\0\0\0\x5JT65\0\0\0\0\x3R2\0\0\0\0\0\r<qh\0\0\0\x4Q65\0\0\0\0\x3R2\0\0\0\0\0\x19\xc0\xc9\xe8\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\x19\xc0\xc9\xe8\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x19\xc4_\xe0\0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0\x19\xc5J@\0\0\0\aMSK144\0\0\0\0\x4\x41LL\0\0\0\0\0\x19\xc0\xc9\xe8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\x35\xc4kh\0\0\0\x5JT65\0\0\0\0\x3R2\0\0\0\0\0\x35\xc4kh\0\0\0\x4Q65\0\0\0\0\x3R2\0\0\0\0\0M@a\xe8\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0M@a\xe8\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0MG\x5 \0\0\0\x5WSPR\0\0\0\0\x4\x41LL\0\0\0\0\0M@a\xe8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\x89&y@\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\x89'w(\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\0\x89'w(\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x89'w(\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\x89U=\xe8\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\x89U=\xe8\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\0\x89U=\xe8\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x89U=\xe8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\x8aIa\xe8\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\x8aIa\xe8\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\0\x8aIa\xe8\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\x8aIa\xe8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\0\xca\xa8\xdf\xe8\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\0\xca\xa8\xdf\xe8\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\0\xca\xa8\xdf\xe8\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\0\xca\xa8\xdf\xe8\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\x1WS\x9d\xe8\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\x1WS\x9d\xe8\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\x1WS\x9d\xe8\0\0\0\x5JT65\0\0\0\0\x4\x41LL\0\0\0\0\x1WU\xad@\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\x2i\xfc\xa6\xa0\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\x2i\xfe-@\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\x2i\xfe-@\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0\0\0\0\x5\x99`\xe2\xa0\0\0\0\x5\x45\x63ho\0\0\0\0\x4\x41LL\0\0\0\0\x5\x99\x62i@\0\0\0\x4JT4\0\0\0\0\x4\x41LL\0\0\0\0\x5\x99\x62i@\0\0\0\x4Q65\0\0\0\0\x4\x41LL\0)"
HighlightByMode=false
IDint=0
IncludeWAEEntities=false
InsertBlank=true
LotWDaysSinceLastUpload=365
LowSidelobes=true
Macros=TNX 73 GL
Miles=true
MonitorLastUsed=false
MonitorOFF=false
MyCall=KY4ZC
MyGrid=FM06MC
N1MMServer={{ hostvars['nuc1']['ansible_default_ipv4']['address'] }}
N1MMServerPort=2333
OnlyFieldsSought=false
OpCall=
PSKReporter=true
PSKReporterTCPIP=true
PTTMethod=@Variant(\0\0\0\x7f\0\0\0\x1eTransceiverFactory::PTTMethod\0\0\0\0\xfPTT_method_CAT\0)
PTTport=/dev/ttyUSB1
Polling=1
PrincipalPrefix=false
PromptToLog=true
QuickCall=true
RTS=false
RTTY_Exchange=
Region=@Variant(\0\0\0\x7f\0\0\0\x14IARURegions::Region\0\0\0\0\x4\x41LL\0)
Rig=Hamlib NET rigctl
RxBandwidth=2500
SaveDir=/home/bblaze/.local/share/WSJT-X/save
SelectedActivity=1
SingleDecode=false
SoundInName=alsa_input.usb-Burr-Brown_from_TI_USB_Audio_CODEC-00.analog-stereo
SoundOutName=alsa_output.usb-Burr-Brown_from_TI_USB_Audio_CODEC-00.iec958-stereo
SpecialOpActivity=false
SplitMode=@Variant(\0\0\0\x7f\0\0\0\x1eTransceiverFactory::SplitMode\0\0\0\0\x13split_mode_emulate\0)
TXAudioSource=@Variant(\0\0\0\x7f\0\0\0\"TransceiverFactory::TXAudioSource\0\0\0\0\x16TX_audio_source_front\0)
TwoPass=true
Tx2QSO=true
TxDelay=0.2
TxQSYAllowed=true
TxWatchdog=6
Type2MsgGen=@Variant(\0\0\0\x7f\0\0\0\x1b\x43onfiguration::Type2MsgGen\0\0\0\0\x12type_2_msg_3_full\0)
UDPInterface=@Invalid()
UDPServer={{ hostvars['nuc1']['ansible_default_ipv4']['address'] }}
UDPServerPort=2237
UDPTTL=1
VHFUHF=true
dBtoComments=true
nTrials=6
pwrBandTuneMemory=false
pwrBandTxMemory=false
stations=@Variant(\0\0\0\x7f\0\0\0\x16StationList::Stations\0\0\0\0\0)
toRTTY=false
udpWindowRestore=false
udpWindowToFront=false
window\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0O\0\0\0\xcb\0\0\x4\x6\0\0\x3\x87\0\0\0O\0\0\0\xf0\0\0\x4\x6\0\0\x3\x87\0\0\0\0\0\0\0\0\a\x80\0\0\0O\0\0\0\xf0\0\0\x4\x6\0\0\x3\x87)
x2ToneSpacing=false
x4ToneSpacing=false

[EchoGraph]
BlueCurve=false
EchoBPP=1
EchoColors=0
PlotGain=0
PlotZero=0
Smooth=0
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0/\0\0\x2p\0\0\x1~\0\0\0\0\0\0\0/\0\0\x2p\0\0\x1~\0\0\0\0\0\0\0\0\a\x80\0\0\0\0\0\0\0/\0\0\x2p\0\0\x1~)

[FastGraph]
GreenGain=10
GreenZero=0
PlotGain=0
PlotZero=0
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0/\0\0\x2\xc2\0\0\x1+\0\0\0\0\0\0\0/\0\0\x2\xc2\0\0\x1+\0\0\0\0\0\0\0\0\a\x80\0\0\0\0\0\0\0/\0\0\x2\xc2\0\0\x1+)

[LogQSO]
LogComments=FT8  Sent: +02  Rcvd: +02
PropMode=
SaveComments=false
SavePropMode=true
SaveTxPower=false
TxPower=
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\xc0\0\0\0\x1b\0\0\x2\x91\0\0\x1\x8c\0\0\0\xc0\0\0\0@\0\0\x2\x91\0\0\x1\x8c\0\0\0\0\0\0\0\0\a\x80\0\0\0\xc0\0\0\0@\0\0\x2\x91\0\0\x1\x8c)

[MainWindow]
AstroDisplayed=false
CallFirst=true
ContestLogDisplayed=false
DXcall=KE5TA
DXgrid=EM40
FoxLogDisplayed=false
FoxMaxDB_v2=70
FoxNlist=12
FoxNslots=5
HoundSort=3
MRUdir=/home/bblaze/.local/share/WSJT-X/save
MsgAvgDisplayed=false
SWLModeGeometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0\0\0\0\x2\x7f\0\0\x1\xdf\0\0\0\0\0\0\0\0\0\0\x2\x7f\0\0\x1\xdf\0\0\0\0\0\0\0\0\a\x80\0\0\0\0\0\0\0\0\0\0\x2\x7f\0\0\x1\xdf)
SWLView=false
SerialNumber=1
ShowMenus=true
TxFirst=true
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0J\0\0\0\x1b\0\0\x4\f\0\0\x4\x37\0\0\0J\0\0\0@\0\0\x4\f\0\0\x4\x37\0\0\0\0\0\0\0\0\a\x80\0\0\0J\0\0\0@\0\0\x4\f\0\0\x4\x37)
geometryNoControls=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0\0\0\0\x2\x7f\0\0\x1\xdf\0\0\0\0\0\0\0\0\0\0\x2\x7f\0\0\x1\xdf\0\0\0\0\0\0\0\0\a\x80\0\0\0\0\0\0\0\0\0\0\x2\x7f\0\0\x1\xdf)
state=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\x3\xc3\0\0\x3\xcb\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\0)

[MultiSettings]
CurrentName=Default
Splash_v1.7=false

[WSPR%20Band%20Hopping]
GrayLineDuration=60
phases\1\bands=@Variant(\0\0\0\r\0\0\0 \0\0\0\0)
phases\2\bands=@Variant(\0\0\0\r\0\0\0 \0\0\0\0)
phases\3\bands=@Variant(\0\0\0\r\0\0\0 \0\0\0\0)
phases\4\bands=@Variant(\0\0\0\r\0\0\0 \0\0\0\0)
phases\5\bands=@Variant(\0\0\0\r\0\0\0 \0\0\0\0)
phases\6\bands=@Variant(\0\0\0\r\0\0\0 \0\0\0\0)
phases\size=6

[WideGraph]
BinsPerPixel=4
Cumulative=true
Current=false
Flatten=true
FminPerBand=@Variant(\0\0\0\x1c\0\0\0\b\0\0\0\b\0\x37\0\x30\0\x63\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x6\0\x31\0\x37\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x6\0\x31\0\x32\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x4\0\x32\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x6\0\x38\0\x30\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x6\0\x31\0\x30\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x6\0\x31\0\x35\0m\0\0\0\x2\0\0\t\xc4\0\0\0\x6\0\x34\0\x30\0m\0\0\0\x2\0\0\t\xc4)
HideControls=false
LinearAvg=false
Percent2D=40
Plot2dGain=0
Plot2dZero=0
PlotGain=0
PlotWidth=904
PlotZero=0
Q65_Sync=false
Reference=false
SmoothYellow=1
StartFreq=900
UseRef=false
UserPalette=@Variant(\0\0\0\x7f\0\0\0\x13WFPalette::Colours\0\0\0\0\0)
WaterfallAvg=5
WaterfallPalette=Default
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x3\xce\0\0\0\x8a\0\0\aU\0\0\x3\f\0\0\x3\xce\0\0\0\xaf\0\0\aU\0\0\x3\f\0\0\0\0\0\0\0\0\a\x80\0\0\x3\xce\0\0\0\xaf\0\0\aU\0\0\x3\f)
